DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=myshop
POSTGRES_USER=myshop
POSTGRES_PASSWORD=myshop
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/1

CELERY_BROKER_URL=redis://127.0.0.1:6379/2
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/3
CELERY_TASK_DEFAULT_QUEUE=default

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@mebelhub.local

# Gmail SMTP (рекомендуется App Password при включённой 2FA)
# Включить: поставьте EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=smtp.gmail.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_USE_SSL=False
# EMAIL_HOST_USER=your@gmail.com
# EMAIL_HOST_PASSWORD=xxxx xxxx xxxx xxxx
# EMAIL_TIMEOUT=30

